<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NpgsqlRest" value="../NpgsqlRest/bin/Release" />
        <add key="NpgsqlRest.HttpFiles" value="../plugins/NpgsqlRest.HttpFiles/bin/Release" />
        <add key="NpgsqlRest.CrudSource" value="../plugins/NpgsqlRest.CrudSource/bin/Release" />
    </packageSources>
</configuration>
